#gameBoardDiv {
  display: flex;
  justify-content: space-around;
}

/* player and ai board */
#player,
#ai {
  height: 420px;
  width: 400px;
  text-align: center;
}

.columnCell {
  display: flex;
  height: 40px;
  width: 400px;
  border: 1px solid red;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid red;
}
