body {
  background-color: rgb(28, 60, 91);
}

#gameBoardDiv {
  display: flex;
  justify-content: space-around;
  height: 500px;
  border: 1px solid blue;
  margin: 10px;
}

/* player and ai board */
#player,
#ai {
  height: 420px;
  width: 400px;
  text-align: center;
}

.columnCell {
  display: flex;
  height: 40px;
  width: 400px;
  border: 1px solid red;
}

.playerCell,
.aiCell,
.shipCell,
.hitCell,
.missCell {
  height: 40px;
  width: 40px;
  border: 1px solid red;
}

.shipCell {
  background-color: green;
}

.hitCell {
  background-color: yellow;
}

.missCell {
  background-color: rgb(218, 137, 137);
}

#dragDiv {
  /* display: flex; */
  /* height: 40px; */
  /* width: 120px; */
  /* border: 1px solid green; */
  /* background-color: rgb(4, 255, 251); */
}

.dragHorizontal {
  display: flex;
}

.dragEnter {
  background-color: green;
}

.dragCell {
  height: 40px;
  width: 40px;
  border: 1px solid green;
  background-color: rgb(4, 255, 251);
}
