body {
  background-color: rgb(28, 60, 91);
}

#gameBoardDiv {
  display: flex;
  justify-content: space-around;
  height: 500px;
  border: 1px solid blue;
  margin: 10px;
}

/* player and ai board */
#player,
#ai,
#dragShipContainer {
  height: 420px;
  width: 400px;
  text-align: center;
  color: white;
}

#dropShipDiv {
  border: 2px solid red;
  height: 415px;
  width: 410px;
}

.columnCell {
  display: flex;
  height: 40px;
  width: 400px;
  border: 1px solid red;
}

.playerCell,
.aiCell,
.shipCell,
.hitCell,
.missCell {
  height: 40px;
  width: 40px;
  border: 1px solid red;
}

.shipCell {
  background-color: green;
}

.hitCell {
  background-color: yellow;
}

.missCell {
  background-color: rgb(218, 137, 137);
}

.dragDiv {
  margin-bottom: 10px;
}

.dragHorizontal {
  display: flex;
}

.dragEnter {
  background-color: green;
}

.dragCell {
  height: 40px;
  width: 40px;
  border: 1px solid green;
  background-color: rgb(4, 255, 251);
}

#modalDiv {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(128, 126, 121); /* Fallback color */
  background-color: rgba(106, 109, 107, 0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: rgb(28, 60, 91);
  margin: auto;
  padding: 20px;
  border: 1px solid antiquewhite;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#winnerMsg {
  font-size: 2rem;
  color: antiquewhite;
  font-weight: bold;
}

#playAgainBtn {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
}

#playAgainBtn:hover {
  background-color: aliceblue;
}
